name: 'Release latest'

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  BUILD_VERSION: ''

jobs:
  release-npm-latest:
    name: Tag packages as latest
    runs-on: ubuntu-latest
    environment: npm-deploy
    steps:
      - uses: actions/checkout@v3
        with:
          # need this to get full git-history/clone in order to build changelogs and check changesets
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          run_install: true

      - name: Use latest corepack
        shell: bash
        run: |
          npm install -g corepack@latest
          corepack enable

      # Ensure latest NPM is installed to support OIDC publishing
      - name: Update npm
        run: npm install -g npm@latest

      - name: Collect current version
        run: |
          echo "BUILD_VERSION=$(pnpm -s packages:version)" >> $GITHUB_ENV

      - name: Change tag to latest
        run: |
          npm dist-tag add @fuels/changeset@${{ env.BUILD_VERSION }} latest
          npm dist-tag add @fuels/eslint-plugin@${{ env.BUILD_VERSION }} latest
          npm dist-tag add @fuels/jest@${{ env.BUILD_VERSION }} latest
          npm dist-tag add @fuels/kms-account@${{ env.BUILD_VERSION }} latest
          npm dist-tag add @fuels/local-storage@${{ env.BUILD_VERSION }} latest
          npm dist-tag add @fuels/prettier-config@${{ env.BUILD_VERSION }} latest
          npm dist-tag add @fuels/react-xstore@${{ env.BUILD_VERSION }} latest
          npm dist-tag add @fuels/ts-config@${{ env.BUILD_VERSION }} latest
          npm dist-tag add @fuels/tsup-config@${{ env.BUILD_VERSION }} latest
          npm dist-tag add @fuels/proxy-cli@${{ env.BUILD_VERSION }} latest
          